CoverTrees.xcodeproj/project.pbxproj
CoverTrees.xcodeproj/project.xcworkspace/contents.xcworkspacedata
CoverTrees.xcodeproj/project.xcworkspace/xcuserdata/mauro.xcuserdatad/UserInterfaceState.xcuserstate
CoverTrees.xcodeproj/project.xcworkspace/xcuserdata/mauro.xcuserdatad/UserInterfaceState_conflict-20160101-145926.xcuserstate
CoverTrees.xcodeproj/project.xcworkspace/xcuserdata/mauro.xcuserdatad/UserInterfaceState_conflict-20160102-094541.xcuserstate
CoverTrees.xcodeproj/project.xcworkspace/xcuserdata/mauro.xcuserdatad/UserInterfaceState_conflict-20160102-095049.xcuserstate
CoverTrees.xcodeproj/project.xcworkspace/xcuserdata/mauro.xcuserdatad/UserInterfaceState_conflict-20160102-104339.xcuserstate
CoverTrees.xcodeproj/project.xcworkspace/xcuserdata/mauro.xcuserdatad/UserInterfaceState_conflict-20160102-104952.xcuserstate
CoverTrees.xcodeproj/project.xcworkspace/xcuserdata/mauro.xcuserdatad/xcdebugger/Expressions.xcexplist
CoverTrees.xcodeproj/xcshareddata/xcschemes/CoverTrees.xcscheme
CoverTrees.xcodeproj/xcuserdata/mauro.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
CoverTrees.xcodeproj/xcuserdata/mauro.xcuserdatad/xcdebugger/Breakpoints_v2_conflict-20160101-145809.xcbkptlist
CoverTrees.xcodeproj/xcuserdata/mauro.xcuserdatad/xcdebugger/Breakpoints_v2_conflict-20160102-104704.xcbkptlist
CoverTrees.xcodeproj/xcuserdata/mauro.xcuserdatad/xcdebugger/Breakpoints_v2_conflict-20160102-104953.xcbkptlist
CoverTrees.xcodeproj/xcuserdata/mauro.xcuserdatad/xcschemes/xcschememanagement.plist
CoverTrees.xcodeproj/xcuserdata/prismaanalytics.xcuserdatad/xcschemes/xcschememanagement.plist
